/*.size {
                width:1140px;
                height:200px;
            }
            @media screen and (max-width: 850px) {
     .size {
        width: 100%;
    }
}*/

:root {
--center: center;
scroll-behavior: smooth;
}

.header>#top_center {
    height: 100%;
    width: 100%;
    z-index: 101;
position: absolute;
top: 0;
}

h1 {text-align: var(--center);
width: 100%;
padding-top: 5%;
font-size: 2.5rem;}

h3 {text-align: var(--center);
padding-top: 2%;
color: #919191;
font-size: 2rem;}

.main {
    line-height: 35px;
position: absolute;
top: 100%;
width: 100%;
}

.functional_line {height: 5%;
background-color: #fff;
position: sticky;
top: 0;
z-index: 9;
width: 100%;
padding-top: 1%;
padding-bottom: 1%;
}
.logo>img {height: 45px;}
.menu {
    width: 60%;
	float: right;
text-align: right;
}
.menu>img {float: right;
text-align: right;
margin-right: 3%;
margin-top: 0.5%;
}
.menu_ul {
position: absolute;
z-index: 150;
float: left;
text-align: right;
width: 50%!important;

}
ul {width: 100%;
background-color: white;
padding-right: 25%;
padding-left: 20%;}
.logo {wigth: 30%;}
.row {width: 100%;
text-align: var(--center);
}
.row {margin-left: 0;}
.card-body {
background-color: #c2c2c2;
    color: black;
font-size: 1.5rem;
}
.card {
    background: #b5b5b5;
margin-bottom: 5%;
box-shadow: 0 8px 8px rgba(0,0,0,0.3);
}
.icon {
width: 15px;
background-color: grey;
}
.major {
    font-size: 35px;
    padding: 10px;
}
.wrap {
            position:fixed;
            height: 30px;
            top: 85%;
            width: 30px;
            left: 90%;
            z-index: 100;
	    background: #e9ecef;
        }
        .controlbar {
            height: 100%;
            display: block;
            text-decoration: none;
            text-align: center;
        }
        .wrap:hover {
            background: #b5b5b5;
            opacity: 0.7;
        }
        .controlbar {
            top: 8%;
            position: relative;
        }
        a.controlbar {
            opacity: 0.3;
        }
        a.controlbar:hover {
            text-decoration: none;
            opacity: 1;
            color: black;
            
        }

.wrap1 {
            position:absolute;
            height: 40px;
            top: 90%;
            width: 40px;
            left: 50%;
            z-index: 102;
	    background: #e9ecef;
	    border-radius: 50%;
 animation: move-in-steps 1.5s infinite;
 -webkit-animation: move-in-steps 1.5s infinite;
 -moz-animation: move-in-steps 1.5s infinite;
 -o-animation: move-in-steps 1.5s infinite;
        }

@-webkit-keyframes move-in-steps {
  0% {
    top: 90%;
    background: grey;
  }
  100% {
    top: 93%;
    background: #b5b5b5;
  }
}
@keyframes move-in-steps {
  0% {
    top: 90%;
    background: grey;
  }
  100% {
    top: 93%;
    background: #b5b5b5;
  }
}


        .controlbar1 {
            height: 100%;
            display: block;
            text-decoration: none;
            text-align: center;
        }
        .wrap1:hover {
            background: #b5b5b5;
            opacity: 0.7;
        }
        .controlbar1 {
            top: 0%;
	    left: 2%;
            position: relative;
	    font-size: 20pt;
        }
        a.controlbar1 {
            opacity: 0.3;
	    color: black;
        }
        a.controlbar1:hover {
            text-decoration: none;
            opacity: 1;
            color: black;
            }

        .main {
            z-index: 10;
        }
        .imgx {
            height: 400px;
            padding-left: 90px;
        }

.col-md-6 {margin: auto;}
.col-sm-6 {margin: auto;}
.col-lg-3 {margin: auto;}
.col-sm-12 {margin: auto;}
.col-12 {margin: auto;}

#facebook, #instagram, 
#github, #twitter {
color: gray;
height: 32px;
width: 32px;
padding: .5%;
border: 2px #b5b5b5 solid;
}

#facebook:hover, #instagram:hover, 
#github:hover, #twitter:hover {background-color: white;
border: 2px #f2f2f2 solid;
border-radius: 20%;}

.footer {
background-color: #b5b5b5;
height: 5%;
padding-left: 5%;
}

.footer>.row {justify-content: space-around;
}


@media (min-resolution: 2dppx) {
.wrap1, .wrap {width: 140px; height: 140px;}
.controlbar1, .controlbar {top: 10%; font-size: 50pt;}
.wrap {left: 80%;}
ul {font-size: 25pt;}
.main {font-size: 1.5rem;}
.wrap1 {left: 45%;}

@-webkit-keyframes move-in-steps {
  0% {
    top: 80%;
    background: grey;
  }
  100% {
    top: 85%;
    background: #b5b5b5;
  }
}
@keyframes move-in-steps {
  0% {
    top: 80%;
    background: grey;
  }
  100% {
    top: 85%;
    background: #b5b5b5;
  }
}/* end of media request*/
