.slideshow-container {
max-width: 1000px;
position: relative;
margin: auto;
width: 90%;
}

#works_container {background-color: #f2f2f2;}

.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: .6s ease;
border-radius: 0 3px 3px 0;
}

.next {
right: 0;
border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

.text {
color: #000;
font-size: 16px;
padding: 0 12px;
position: absolute;
top: 9%;
background: white;
box-shadow: 2px left;
}

.dot {
cursor: pointer;
height: 13px;
width: 13px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color .6s ease;
}

.active, dot:hover {background-color: #717171;}

.fade {
-webkit-animation-name: fade;
-webkit-animaton-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

.fade:not(.show) {opacity: 1;}

@-webkit-keyframes fade {
0%{opacity: .4}
100%{opacity: 1}
}
@keyframes fade{
0%{opacity: .4}
100%{opacity: 1}
}


.form {
    display: inline-block;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.form__field {
    margin-bottom: 10px;
}

.form__error {
    color: red;
    text-align: left;
    font-size: 12px;
    display: block;
    margin-top: 3px;
    display: none;
}

.form input, .form textarea {
    outline: none;
    display: block;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

.form button {
    width: 100%;
    padding: 10px;
    border-radius: 2px;
    border: 0;
    background-color: #ccc;
    color: #fff;
}

input:valid:not(:placeholder-shown) {
    border-color: green;
}

textarea:valid:not(:placeholder-shown) {
    border-color: green;
}

input:invalid:not(:placeholder-shown) {
    border-color: red;
}
input:invalid:not(:placeholder-shown) + .form__error {
    display: block;
}
