.{border:1px solid blueviolet; 
    color:white;
    width:178px;
    padding:6px;
    margin:0px;
    background-color:#006064;
    font-size:1.1em;
    }
    #list
    {
    border-bottom:4px solid;
    width:192px;
    list-style-type:none;
    margin:0px;
    padding:0px;
    font-size:1.1em;
    }
    #list li
    {
    padding:6px;
    border-bottom-style:solid;
    border-bottom-color: blueviolet;
    border-width:1px;
    background-color: violet;
    }
}